name: Publish documentation
on:
  push:
    paths:
      - 'Documentation/**.md'
      - 'Documentation/**.yml'
      - 'NetCordAddons.Services/**.**'
      - 'NetCordAddons.EventHandler/**.**'
  workflow_dispatch:

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Dotnet Setup
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.x

    - name: Restore
      run: |
        dotnet restore NetCordAddons.Services
        dotnet restore NetCordAddons.EventHandler

    - name: Build
      run: |
        dotnet build NetCordAddons.Services -c Release --no-restore
        dotnet build NetCordAddons.EventHandler -c Release --no-restore
        
    - run: dotnet tool update -g docfx
    - run: docfx Documentation/docfx.json
    
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: Documentation/_site
